{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<br>
<br>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2>Enter new password</h2>
            <hr>

{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} {% trans 'Set password' %}
    </button>
  {% endbuttons %}
     
  </form>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
<hr>
          
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
