{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<br>
<br>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2>Reset Password</h2>
            <hr>
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} {% trans 'Reset password' %}
    </button>
  {% endbuttons %}
</form>

<hr>
         
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
