{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{# Load the tag library #}
{% load worka_tags %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{{ project.name }}{% endblock %}


{% block extra_head %}
<script type="text/javascript">
    $(function() {
        $('#myTaskTable tbody tr').formset({
            prefix: '{{ task_formset.prefix }}',
            formCssClass: 'dynamic-taskformset'
        });
        $('#myTeamTable tbody tr').formset({
            prefix: '{{ team_formset.prefix }}',
            formCssClass: 'dynamic-teamformset'
        });
    })
    </script>
<script> $('#add_more').click(function() { cloneMore('div.table:last', 'myTaskTable'); }); </script>
      
{% endblock %}

{% block content %}
<br>
<br>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<button class="btn btn-link"><a href="{% url 'project:projectList' %}"><i class="fa fa-arrow-left"></i> back to project list</a></button><br><br>
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">{{ project.name }}</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Tasks</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Team members</a></li>
  </ul>

<br/>
<div class="tab-content">
	<div id="home" class="tab-pane active">
		<div class="col col-6 card">
			<form class="form-horizontal" method="post" action="{% url 'project:projectUpdate' project.id %}">
				{% csrf_token %}
				{% bootstrap_form form %}<br>
				<div class="row text-right">  
					
					<button type="submit" class="btn btn-primary"><i class="fa fa-save fa-1"></i> Submit</button>
			</div><br>
			</form>
		</div>
	</div>
	<div id="menu1" class="tab-pane">
		<div class="col col-6 card">
			<form class="form-horizontal" id="myProjectTasks" action="." method="post">
				{% csrf_token %} 
				{{ task_formset.management_form }}
				<table id="myTaskTable" class="table table-hover">
					<thead><th>-</th>
						<th>Name</th>
						<th>Active</th>
						
					</thead>
					<tbody>
						{% for form in task_formset %}
						<tr><td>
							{% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
							{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
						
					</td>
					<td>{{form.title|addcss:"form-control"}}</td>
					<td>{{form.is_active|addcss:"form-control"}}</td>
					</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row text-right">
					<button class="btn btn-warning btn-lg" id='add_more'><i class="fa fa-plus-circle"></i> Add new task</button>
					<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save fa-1"></i> Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div id="menu2" class="tab-pane">
		<div class="col col-6 card">
		
		<form class="form-horizontal" id="myProjectTeam" action="." method="post">
			{% csrf_token %} 
			{{ team_formset.management_form }}
			<table id="myTeamTable"  class="table table-hover">
				<thead>
					<th>User</th>
					<th>Allocation %</th>
					<th>Active</th>
					<th>Rate $</th>
					<th>-</th>
				</thead>
				<tbody>
					{% for form in team_formset %}
						<tr>
							<td>
								{% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
								{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
								{{form.user|addcss:"form-control"}}
							</td>
							<td>{{form.percent_allocated|addcss:"form-control"}}</td>
							<td>{{form.is_active|addcss:"form-control"}}</td>
							<td>{{form.project_rate|addcss:"form-control"}}</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="row text-right">  
				<button><a href="{% url 'project:projectList' %}">project list <i class="fa fa-level-up fa-1"></i> </a></button>
				<button><i class="fa fa-plus-circle"></i> Add new row</button>
				<button type="submit"><i class="fa fa-save fa-1"></i> save</button>
			</div>
			<br>
		</form>
		</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('.datetime-input').datetimepicker({
			format:'DD-MM-YYYY'
		});
	});
</script>

{% endblock %}